<h2>Sign up</h2>


<% if params[:signup_as] == 'professional'%>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :phone_no %><br />
        <%= f.text_field :phone_no, autocomplete: "off" %>
      </div>

        <div class="field">
        <%= f.label :verfication_code %><br />
        <%= f.password_field :verfication_code, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :unique_id %><br />
        <%= f.text_field :unique_id, :value => rand.to_s[2..5], :readonly => true%>
      </div>

      <div class="field">
        <%= f.text_field :role, :hidden => true, :value => 'professional' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
<% end %>


<% if params[:signup_as] == 'employer'%>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      
      <div class="field">
        <%= f.label :company_name %><br />
        <%= f.text_field :company_name, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :hr_name %><br />
        <%= f.text_field :hr_name%>
      </div>
      <div class="field">
        <%= f.label :phone_no %><br />
        <%= f.text_field :phone_no, autocomplete: "off" %>
      </div>
      <div class="field">
        Hiring agency: <br />
        Yes<%= radio_button("user", "hiring_agency", true)%>
        No<%= radio_button("user", "hiring_agency", false) %>
      </div>
      <div class="field">
        <%= f.text_field :role, :hidden => true, :value => 'employer' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
<% end %>

  <!-- <%= render "devise/shared/links" %> -->
