<p>
  <strong>Comment:</strong>
  <%= comment.comment %>



  <%= link_to 'Edit Comment' , edit_post_comment_path(params[:id], comment)%>
||
  <%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>

</p>