<h1>Conversations#index</h1>
<p>Find me in app/views/conversations/index.html.erb</p>

<div class="ui segment">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.rec_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% rec = User.find(conversation.rec_id) %>
          <% else %>
            <% rec = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to rec.email, conversation_messages_path(conversation)%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="item">
        <%= user.email %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, rec_id: user.id), method: 'post'%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
