<h1>Jobs#index</h1>
<% @jobs.each do |j| %>
	company_name: <%= j.company_name %><br>
	job_title: <%= j.job_title %><br>
	job_location: <%= j.job_location %><br>
	salary:	<%= j.salary %><br>
	experience:	<%= j.experience %><br>
	sector:	<%= j.sector %><br>
	skill: <%= j.skill %><br>
	level_of_experience: <%= j.level_of_experience %><br>
	corporate_type:	<%= j.corporate_type %><br>
	job_description: <%= j.job_description %><br>
	===================================================================<br>
<% end %>
