<h1>Post a job </h1>

<%= form_for @job do |t|%>

      <div> <%=t.label :company_name%><br />
            <%=t.text_field :company_name%>
      </div>

      <div> <%=t.label :job_title%><br />
            <%=t.text_field :job_title%></div>

      <div> <%=t.label :job_location%><br />
            <%=t.select :job_location, [['India','India'],['Usa','Usa']], :include_blank => false%></div>

      <div> <%=t.label :salary%><br />
            $ <%=t.text_field :salary%>
            </div>

      <div> <%=t.label :experience%><br />
            <%=t.text_field :experience%></div>

      <div> <%=t.label :sector%><br />
            <%=t.text_field :sector%></div>

      <div> <%=t.label :skill%><br />
            <%=t.text_field :skill%></div>

      <div> <%=t.label :level_of_experience%><br />
            <%=t.select :level_of_experience, [['Master','Master'],['Expert','Expert'],['Proficient','Proficient'],['Learner','Learner'],['Beginer','Beginer']] %></div>

      <div> <%=t.label :corporate_type%><br />
            <%=t.select :corporate_type, [['Tier I','Tier I'],['Tier II','Tier II'],['Tier III','Tier III']]%></div>

      <div> <%=t.label :job_description%><br />
            <%=t.text_area :job_description%></div>

      <div class="actions">

      <%= t.submit "Post" %>
      </div>
<% end %>