
<% if params[:edit_as] == 'employer' %>



    <%= form_for @user do |f| %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :company_name %><br />
        <%= f.text_field :company_name, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :hr_name %><br />
        <%= f.text_field :hr_name%>
      </div>
      <div class="field">
        <%= f.label :phone_no %><br />
        <%= f.text_field :phone_no, autocomplete: "off" %>
      </div>
      <div class="field">
        Hiring agency: <br />
        Yes<%= radio_button("user", "hiring_agency", true)%>
        No<%= radio_button("user", "hiring_agency", false) %>
      </div>
      <%= f.submit "Save Changes"%>
    <% end %>



<% else %>




    <%= form_for @user do |f| %>

    <div class="field">
            <%= f.label :sector %><br />
            <%= f.select :sector, [['Tecnology','Tecnology'],['finence','finence'],['Mangement','Mangement'],['bussiness','bussiness']] %>
      </div>

      <div class="field">
            <%= f.label :skills %><br />

      </div>

      <div class="field">
            <%= f.label :level_of_experience %><br />
            <%= f.select :level_of_experience, [['Master','Master'],['Expert','Expert'],['Proficient','Proficient'],['Learner','Learner'],['Beginer','Beginer']] %>
      </div>

      <div class="field">
            <%= f.label :experience %><br />
            <%= f.text_field :experience%>
      </div>

      <div class="field">
        <%= f.label :corporate_type %><br />
        <%= f.select :corporate_type, [['Tier I','Tier I'],['TierII','TierII'],['Tier III','Tier III']] %>
        </div>

          <div class="field">
            <%= f.label :education_level %><br />
            <%= f.select :education_level,  [['Associate','Associate'],['Bachelor','Bachelor'],['Master','Master'],['Master+','Master+']] %>
          </div>

          <div class="field">
            <%= f.label :major %><br />
            <%= f.text_field :major%>
          </div>

          <div class="field">
            <%= f.label :minor %><br />
            <%= f.text_field :minor%>
          </div>

          <div class="field">
            <%= f.label :institution_type %><br />
            <%= f.select :institution_type, [['Commerce','Commerce'],['Enginering','Enginering'],['Art','Art'],['Science','Science']] %>
          </div>

          <div class="field">
            <%= f.label :cerificate %><br />
            <%= f.text_field :cerificate%>
          </div>

          <div class="field">
            <%= f.label :salary %><br />
            <%= f.text_field :salary%>
          </div>

          <div class="field">
            <%= f.label :location %><br />
            <%= f.text_field :location %>
          </div>

          <div class="field">
            <%= f.label :city %><br />
            <%= f.text_field :city%>
          </div>

          <div class="field">
           Relocate?<br />
            Yes <%= radio_button("user", "reloaction_status", true)%>
            No <%= radio_button("user", "reloaction_status", false) %>
          </div>

          <%= f.submit "Update"%>

    <% end %>


<% end %> <!-- ending if -->


