<h1>User profile</h1>
<div align="center">
	<% if current_user.role == 'employer'%>
		<h2>Employer</h2>
		Email: <%= @user.email %><br>
		Company Name: <%= @user.company_name %><br>
		HR's name: <%= @user.hr_name %><br>
		Phone Number: <%= @user.phone_no %><br>
		Hiring Agency: <% if @user.hiring_agency == true %>Yes <% else %>No<% end %><br>
		<a href= "<%= current_user.id %>/edit?edit_as=employer"> Edit</a>
		
		<% else %>
		<h2>Professional</h2>
		<%= link_to "Edit", edit_user_path(current_user) %>
	<% end %>
</div>
