<h1>Welcomes#index</h1>


<% if current_user == nil %>
<!-- <a href="/users/sign_up?signup_as=professional" data-no-turbolink = 'true'>Professional</a>

<a href="/users/sign_up?signup_as=employer" data-no-turbolink = 'true'>Employer</a>
 -->
<% elsif current_user.unique_id == nil %>

<%= link_to "Post a job", new_job_path %> 
<a href="/welcomes/?welcome_as=search" >Search for professionals</a>

<% else %>

<%= link_to "My messages" %> | <%= link_to "Search for job", jobs_path %>

<% end %>

</br>
</br>
</br>
</br>

<div align = "center">
<% if params[:welcome_as] == 'search'%>
	<% User.where(unique_id: nil).each do |user| %>
	<%= link_to user.email, user_path(user) %>--<%= user.unique_id%></br>

	<% end %>
<%= link_to 'back', welcomes_path%>
<% end %>
</div>




