<h1>Privacy Policy</h1>

<p>What do you mean by an anonymous?
In our anonymous platform, we do not accept or require you to submit the details of your identity. We do not have any data to reveal your identity. This way your information remains anonymous while your skills based job profile still will be available. An email with phone password verification is used to make sure that its a legitimate account. We do not ask nor share with employers your name, current or previous employer name, educational institutions attended or age. Gender is optional for you to reveal if its pertinent to the industry or skillset you bring to the job.
</p>
<p>
Various academic research and corporate have voiced need for anonymity in hiring.
</p><p>
Economist Article:
</p><p>
http://www.economist.com/news/business/21677214-anonymising-job-applications-eliminate-discrimination-not-easy-no-names-no-bias
</p><p>
Stanford law school:
</p><p>
http://www.stanfordlawreview.org/print/article/how-congress-could-reduce-job-discrimination-promoting-anonymous-hiring
</p>