<h1>Blog</h1>
<%= link_to 'New post', new_post_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td>
      <%=link_to post.title , post_path(post)%>
      </td>
      <td>
      <%= post.content %>
      </td>

    </tr>
  <% end %>
</table>