<h2>Post</h2>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<%= link_to 'Edit', edit_post_path(@post)%>
--
<%= link_to 'Destroy',post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>


<h2>Comments</h2>
<%= render @post.comments %>

<h5>Added a comments:</h5>
<%= render 'comments/form' %>

<%= link_to 'Back', posts_path %>
