<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>


<body>






<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<% if user_signed_in? %>
        <li class="active"><a href="/news/index">News<span class="sr-only">(current)</span></a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href='#' onClick="alert('Oops! Page Underprocess !')">Trend</a></li>
        <li><a href="/conversations">Mailbox</a></li>
       
        <% if current_user.role == 'professional' %><li><a href="/jobs">Find A Jobs</a></li><% end %>
        <li><a href="/jobs/new">Post A Job</a></li>

		<li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          	Logged in as <strong><%= current_user.email %></strong><span class="caret"></span></a>
          
          <ul class="dropdown-menu">
            <li><%= link_to 'My Account', edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Home", root_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "My Profile", user_path(current_user)%></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      	  	<!-- Small modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Join Now</button>

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" align = "center">
		  	<div class="modal-dialog modal-sm">
			    <div class="modal-content">
			    <a href="/users/sign_up?signup_as=professional" data-no-turbolink = 'true'>Professional</a> ||

				<a href="/users/sign_up?signup_as=employer" data-no-turbolink = 'true'>Employer</a>
			    </div>
		  	</div>
		</div>
		<!-- Small modal -->
	<!-- 		  <%= link_to "Login", new_user_session_path %> -->


      <form class="navbar-form navbar-left" role="search">
<!--         <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_in">Login</a></li>
      </ul>
    </div>
  </div>
  	<% end %>
</nav>













	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>


</body>
<div align= "right">
  <footer class = "footer">
    <a href='/faqs'>FAQ</a> || <a href='/terms_of_serives'>Terms Of Serives</a> || <a href='/privacy_policys'>Privacy Policy</a>
  </footer>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</html>
